* {
    border: 0;
    padding: 0;
    margin: 0 auto;
}

.container {
    padding: 3rem;
    max-width: 56rem;

}


.cards_container {
    border: 1px solid rgb(58, 58, 58);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

img {
    width: 140px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.decription {
    width: 32rem;
}

.extraInfo {
    color: rgb(85, 85, 85);
}

.mainInfo {
    font-weight: 600;
    font-size: 1.075rem;
}

.price {
    color: rgb(5, 5, 168);
    font-weight: 600;
}

button {
    width: 16rem;
    height: 4rem;
    background-color: black;
    color: white;
}

.totalPrice {
    display: flex;
    gap: 33rem;
    padding-right: 4rem;
}

.totalPay {
    font-weight: 600;
}